.password-reset-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  & > div {
    max-width: 30%;
    min-width: 300px;
    border: 3px solid #6d67e4;
    height: max-content;
    padding: 3rem;
    border-radius: 8px;
  }
  label {
    margin-top: 1.5rem;
  }
  .password-reset-container-btn {
    margin-top: 1.5rem;
  }

  .password-reset-error {
    margin: 0;
    margin-top: 1rem;
    color: #e0144c;
    font-weight: bold;
  }
}
